* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}


@media screen and (max-width: 600px) {
  .todo-app {
    width: 90%;
    margin: 64px auto;
  }
  
  .todo-input {
    width: 100%;
  }
  
  .todo-button {
    width: 100%;
    margin-top: 10px;
  }
}


@media screen and (min-width: 601px) and (max-width: 900px) {
  .todo-app {
    width: 80%;
    margin: 96px auto;
  }
  
  .todo-input {
    width: 70%;
  }
  
  .todo-button {
    width: 25%;
    margin-top: 0px;
  }
}


@media screen and (min-width: 901px) {
  .todo-app {
    width: 520px;
    margin: 128px auto;
  }
  
  .todo-input {
    width: 320px;
  }
  
  .todo-button {
    width: max-content;
    margin-top: 0px;
  }
}

.dark {
  background-color: #333;
  color: #fff;
}

.light {
  background-color: #fff;
  color: #333;
}

body {
  background-image: linear-gradient(to bottom right, rgb(131, 46, 250), #9a0cff);
}

.icon:hover {
  transform: scale(1.3); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.todo-app {
  display: flex;
  flex-direction: column;
  /* justify-content: start; */
  background: #ffffff;
  text-align: center;
  border-color: #9a0cff;
  border-radius: 10px;
}

h1 {
  margin: 25px 0;
  color: #9a0cff;
  font-size: 24px;
}

h3 {
  /* margin: 32px 0; */
  color: #9a0cff;
  font-size: 18px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.todo-form {
  margin-bottom: 32px;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #9a0cff;
  outline: none;
  background: transparent;
  color: #9a0cff;
  margin-bottom: 10px;
}

input[type='time']::-webkit-calendar-picker-indicator {
  background: url(https://mywildalberta.ca/images/GFX-MWA-Parks-Reservations.png) no-repeat;
}

.todo-input::placeholder {
  color: #9a0cff;
}

.todo-button {
  justify-content: center;
  padding: 10px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  color: #fff;
  text-transform: capitalize;
  width: max-content;
  font-size: medium;
  text-align: center;
}

.todo-input.edit {
  border: 2px solid #149fff;
}

.todo-button.edit {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
  padding: 16px 22px;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: left;
  text-align: left;
  margin: 4px auto;
  color: #fff;
  background: linear-gradient(
    90deg,
    rgb(108, 49, 226) 0%,
    rgb(144, 68, 191) 100%
  );

  padding: 16px;
  border-radius: 5px;
  width: 90%;
  margin-bottom: 20px;
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: #fff;
}

.edit-icon {
  color: #fff;
}

span{
  font-size: xx-large;
}
